<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ElasticSearchAppender" />
    </root>
    <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
      <!--<connectionString key="ElasticSearchEndpoint" value="http://xxx.com"/>-->
      <connectionString key="ElasticSearchEndpoint" value="Scheme=http;Server=zen-factory-001.cloudapp.net;User=zp-elk;Pwd=$azpa4zp$;Index=zenith-prod-logs;Port=9200;rolling=false"/>
      <lossy value="false" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <bufferSize key="LogsElasticSearchBufferSize" value="5" />
    </appender>
  </log4net>
</configuration>
